@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}

:root{
    --color5: #182b55;
    --color1: #407cfc;
    --color2: #6094fc;
    --color3: #98b4fc;
    --color4: #b8ccfc;
}

body{
    background-image: linear-gradient(#3586ff, #407cfc,#b8ccfc, #3586ff, #407cfc,#b8ccfc);
}

/*--------------------------------------------------------------------------------------HEADER----------------------------------------------------------------------------------------*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    z-index: 100;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.header:hover::before{
    left: 100%;
}

.logo{
    position: relative;
}

.logo h2{
    position: absolute;
    font-size: 3rem;
    text-decoration: none;  
}

.logo h2:nth-child(1){
    color: #fff;
    top: -37px;
}

.logo h2:nth-child(2){
    color: #03a9f4;
    animation: animate-logo 4s ease-in-out infinite;
    top: -37px;
}

/*-------------------------------------------------------------------------------ANIMAÇÃO LOGO---------------------------------------------------------------------------------------*/

@keyframes animate-logo{
    0%, 100%{
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);     
    }

    50%{
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);     
    }
}

.navbar{
    display: flex;
}

.navbar a{
    color: #fff;
    font-size: 18px;
    align-items: center;
    text-decoration: none;
    margin-left: 35px;
    display: flex;
    transition: all .3s;
}

.navbar a:hover{
    color: rgb(2, 238, 255); 
    transform: translateY(-5px);
    font-weight: 600;
    transition: all .3s;
}

#menu-icon{
    font-size: 36px;
    color: #fff;
    display: none;
}

.btn-nav{
    background: transparent;
    outline: none;
    border: 3px solid white;
    border-radius: 10px;
    width: 110px;
    height: 37px;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 600;
    z-index: 0;
    cursor: pointer;
    overflow: hidden;
}

.btn-nav span{
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: 0.5s;
}

.btn-nav div{
    position: absolute;
    left: calc((var(--n) - 1) * 25%);
    width: 25%;
    height: 100%;
    background-color: var(--color2);
    border-radius: 50%;
    transform: translateY(100%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);;
    z-index: -1;
}

.btn-nav div:nth-child(2){
    --n: 1;
}

.btn-nav div:nth-child(3){
    --n: 2;
}

.btn-nav div:nth-child(4){
    --n: 3;
}

.btn-nav div:nth-child(5){
    --n: 4;
}

.btn-nav:hover span{
    color:#fff;
}

.btn-nav:hover div{
    transform: translateY(0) scale(2);
}

.btn-nav:active{
    transform: scale(0.98); 
}

/*--------------------------------------------------------------------------------RESPONSIVIDADE DA NAVBAR----------------------------------------------------------------------------*/

@media (max-width: 1135px){
    .header{
        padding: 1.25rem 4%;
    }
}

@media (max-width: 1005px){
    .navbar a{
        margin-left: 15px;
    }

    .btn-nav{
        margin-left: 15px;
    }
}

@media (max-width: 898px){
    #menu-icon{
        display: block;
    }

    .navbar{
        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;
        padding: .5rem 4%;
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        margin: 1.5rem 0;
    }

    .nav-bg{
        position: fixed;
        top: 7.9%;
        left: 0;
        width: 100%;
        height: 375px;
        background: rgba(255, 255, 255, .1);
        border-bottom: 2px solid rgba(255, 255, 255, .2);
        backdrop-filter: blur(10px);
        z-index: 99;
        display: none;
    }

    .nav-bg.active{
        display: block;
    }

    .btn-nav{
        margin-left: 0;
    }
}

/*------------------------------------------------------------------------------------SECTIONS----------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------CAROUSEL----------------------------------------------------------------------------------------*/

.slider{
    margin: 0 auto;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 800px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 100%;
}

.manual-navigation{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;

}

#radio2:checked ~ .first{
    margin-left: -25%;

}

#radio3:checked ~ .first{
    margin-left: -50%;

}

#radio4:checked ~ .first{
    margin-left: -75%;

}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 100%;
    margin-top: 760px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}

#section1{
    position: relative;
}

.content-slider{
    position: absolute;
    display: flex;
    justify-content: center;
}

.content-slider h3{
    margin-top: -680px;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    width: 75%;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 10px ;
    border: 2px solid rgba(255, 255, 255, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
}

.texto-slider {
    margin-top: -600px;
    font-size: 25px;
    padding: 40px;
    gap: 40px;
    text-align: center;
    height: 50%;
    font-weight: 600;
    justify-content: center;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    flex-direction: column;
}

.texto1{
    padding: 20px;
    padding-top: 70px;
    background: transparent;
    border-radius: 10px ;
    border: 2px solid rgba(255, 255, 255, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
}

.texto2{
    padding: 20px;
    background: transparent;
    border-radius: 10px ;
    border: 2px solid rgba(255, 255, 255, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
}

@media (max-width: 1500px){
    .texto-slider {
        margin-top: -600px;
        font-size: 20px;
    }
}

@media (max-width: 1100px){
    .texto-slider {
        margin-top: -580px;
        font-size: 18px;
        padding: 40px;
        gap: 40px;
        height: 50%;
    }
}

@media (max-width: 850px){
    .content-slider h3{
        margin-top: -680px;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        width: 85%;

    }
    .texto-slider {
        margin-top: -640px;
        font-size: 15px;
        padding: 40px;
        gap: 15px;
        text-align: justify;
        height: 50%;
        display: flex;
        flex-direction: column;
    }

    .texto1{
        padding: 20px;  
    }
}

@media (max-width: 530px){
    .content-slider h3{
        margin-top: -710px;
        width: 85%;
    }

    .texto-slider {
        margin-top: -645px;
        font-size: 14px;
        padding: 40px;
        gap: 12px;
        height: 50%;
    }
}

/* ------------------------------------------------------------------------------------SECTION 2------------------------------------------------------------------------------------------- */

#section2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-top: 5px solid var(--color5);
    border-bottom: 5px solid var(--color5);
    padding-top: 100px;
    padding-bottom: 100px;
}

.card-pesca{
    display: flex;
    align-items: center;
    max-width: 67rem;
    width: 100%;
    padding: 3rem 2rem 3rem 1.25rem;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
    border-radius: 1.5rem;
    transition: all 0.2s ease-in-out;
  }
  
  .card__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-left: 2rem;
  }
  
  .card:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 
      0px 6px 12px;
  }
  
  .card__preview {
    position: relative;
  }
  
  .card__preview img {
    max-width: 25rem;
    width: 36vw;
    height: 22rem;
    object-fit: cover;
    margin-left: -4rem;
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1)  3px 3px 20px 10px;
  }
  
  .card__content {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
  }
  
  .card__footer {
    margin-top: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  .card__address {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
  }
  
  .card-pesca h2 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }
  
  .card-pesca p {
    font-size: 1.075rem;
    font-weight: 400;
  }
  
  .cta {
    background:#3586ff;
    color: #fff;
    font-family: inherit;
    padding: 1rem 1.5rem;
    font-size: 1.125rem;
    border-radius: 2.5rem;
    border: 0;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .cta:hover {
    background: #407cfc;
    transform: scale(.98);
  }
  
  @media (width <= 1178px) {
    #section2{
        padding-top: 117px;
        padding-bottom: 70px;
    }

    .card-pesca {
      margin: 0 2.25rem;
      padding-left: 3rem;
      padding-right: 3rem;
      width: 100%;
      text-align: center;
      flex-direction: column;
    }
  
    .card__content {
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 7;
    }
  
    .card__right {
      margin-left: 0;
    }
  
    .card-pesca h2 {
      margin-right: 0;
      font-size: 1.5rem;
    }
  
    .card-pesca img {
      margin: -6rem 0 2rem 0;
      width: 100%;
      max-width: 65rem;
    }
  
    .card__price {
      top: -4.75rem;
    }
  
    .card__footer {
      justify-content: center;
    }
  }

/* ----------------------------------------------------------------------------------------SECTION 3----------------------------------------------------------------------------------------- */

#secao3{
    width: 100%;
    height: 100%;
    background: url(/src/img/img_section3.jpg);
    background-size: cover;
    background-position:center;
    background-clip: border-box;
    border-bottom: 5px solid var(--color5);
}

#bannerdiv2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#bannerdiv2 h3{
    margin-top: 110px;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    width: 75%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 10px ;
    border: 2px solid rgba(255, 255, 255, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
}

#bannerdiv2 p{
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    max-width: 75%; 
    margin-bottom: 110px;
    padding: 20px;
    background: transparent;
    border-radius: 10px ;
    border: 2px solid rgba(255, 255, 255, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);   
}

@media (max-width: 978px){
    #secao3{
        background-position: center;
    }

    #bannerdiv2 h3{
        font-size: 1.75rem;
        margin-top: 50px;
    }

    #bannerdiv2 p{
        font-size: 20px;
        margin-bottom: 50px;
    }
}

@media (max-width: 598px){
    #secao3{
        background-position: center;
    }
    #bannerdiv2 h3{
        font-size: 1.55rem;
        margin-top: 50px;
    }

    #bannerdiv2 p{
        font-size: 17px;
        margin-bottom: 50px;
    }
}

/* -----------------------------------------------------------------------------------SECTION 4-------------------------------------------------------------------------------------------- */

#secao4{
    border-bottom: 5px solid var(--color5);
}

#grid2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 80px;
    padding-bottom: 80px;
}

#imgbanner4{
    width: 40%;
    height: 80%;
    border-style: solid;
    border-color: var(--color5);
    border-width: 5px;
    object-fit: contain;
    border-radius: 1.5rem;
}

#textogrid2{
    font-size: 25px;
    background-color: #fff;
    padding: 3rem 2rem 3rem 1.25rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
    border-radius: 1.5rem;
    transition: all 0.2s ease-in-out;
    color: var(--color5);
    align-items: center;
    justify-content: center;
    text-align: justify;
    max-width: 50%;
}

#secao5{
    border-right: solid;
    
}
#secao6{
    margin-left: 50px;
}
.caixadetextogrid{
    font-size: 25px;
    font-family: cursive;
    color: var(--color5);
    text-align: center;
    max-width: 89%;
    height: 600px;
    
}

@media (max-width: 1296px){
    #grid2{
        display: flex;
        flex-direction: column;
    }
    
    #imgbanner4{
        width: 48%;
    }

    #textogrid2{
        max-width: 75%;
        font-size: 20px;
    }
}

@media (max-width: 730px){
    #imgbanner4{
        width: 85%;
    }

    #textogrid2{
        text-align: center;
        font-size: 20px;
    }
}

/* ---------------------------------------------------------------------------------SECTION 5 E 6 (CARDS)------------------------------------------------------------------------------------ */

#section-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 200px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.card{
    background-color: white;
    max-width: 550px;
    padding: 30px;
    border-radius: 12px;
    margin-top: 100px;
    transition: all .3s ease-in-out;
}

.card .img-holder{
    width: 100%;
    height: 300px;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: all .3s ease-in-out;
}

.card:nth-child(1) .img-holder{
    background: url(/src/img/imgcard1.jpg);
    background-size: cover;
    background-position: center;
}

.card:nth-child(2) .img-holder{
    background: url(/src/img/imgcard2.jpg);
    background-size: cover;
    background-position: center;
}

.card h2, .card p{
    margin-bottom: 15px;
}

.card p{
    opacity: 0;
    transition: opacity .3s ease-in-out;
    transition-delay: .1s;
}

.card a{
    opacity: 0;
    transition: opacity .3s ease-in-out;
    transition-delay: .1s;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 4px;
    background-color: #3586ff;
}

.card-content{
    height: 35px;
    overflow: hidden;
    transition: height .3s ease-in-out;
}

.card-content p{
    text-align: justify;
}

.card:hover .img-holder{
    transform: scale(0.9);
    margin-top: -120px;
}

.card:hover .card-content{
    height: 340px;
    overflow: visible;
}

.card:hover p, .card:hover a{
    opacity: 1;
}

.card-content a{
    transition: all .3s;
    transition-delay: .1s;
}

.btn-card:hover{
    transform: translateY(-5px) scale(1.05);
    transition: all .3s;
}

.btn-card:active{
    transform: scale(0.95);
}

/* RESPONSIVIDADE SECTION CARDS */
@media (max-width: 658px){
    .card:hover .card-content{
        height: 380px;
        overflow: visible;
    }
}

/*------------------------------------------------------------------------------FOOTER ANIMADO----------------------------------------------------------------------------------------*/

footer{
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social-icon, footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

footer .social-icon li, footer .menu li{
    list-style: none;
}

footer .social-icon li a{  
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: all .5s;
}

footer .social-icon li a:hover{
    transform: translateY(-10px);
}

footer .menu li { 
    
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    transition: all .5s;
    text-decoration: none;
    opacity: .75;
    cursor: pointer;
}

footer .menu li:hover{
    opacity: 1;
}

footer p{
    color: #fff;
    text-align: center;
    font-size: 1.1rem;
    margin: 15px 0 10px 0;
}

footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(/src/img/wave2.png);
    background-size: 1000px 100px;
}

footer .wave#wave1{
    z-index: 100;
    opacity: 1;
    bottom: 0;
    animation: animate 4s linear infinite;
}

footer .wave#wave2{
    z-index: 99;
    opacity: .5;
    bottom: 10px;
    animation: animate2 4s linear infinite;
}

footer .wave#wave3{
    z-index: 100;
    opacity: .2;
    bottom: 15px;
    animation: animate 3s linear infinite;
}

footer .wave#wave4{
    z-index: 99;
    opacity: .7;
    bottom: 10px;
    animation: animate2 3s linear infinite;
}

/* ANIMAÇÃO FOOTER */
@keyframes animate{
    0%{
        background-position-x: 1000px;
    }

    100%{
        background-position-x: 0px;
    }
}

@keyframes animate2{
    0%{
        background-position-x: 0px;
    }

    100%{
        background-position-x: 1000px;
    }
}

/* RESPONSIVIDADE FOOTER */
@media (max-width: 658px){
    footer .menu {
        flex-direction: column;
    }

    footer p{
        margin-bottom: 15px;
    }
}